body {
    color: #000;
    font-family: "Lato", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0, 64, 64, 1);
    color: #fff;
}
.header > h1 {
    float: left;
    margin: 30px;
}
.header > .user {
    margin: 40px;
    float: right;
}
.wrapper {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}
.wrapper > .center {
    width: 100%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.wrapper > .center > .left-panel {
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: white;
}
.left-panel ul {
    padding: 0px;
    margin: 10px;
    list-style: none;
}
.left-panel ul > li {
    padding: 0;
    margin: 0 15px 15px 0;
}
.wrapper > .center > .left-panel > .top-section {
    height: 40%;
    background-color: rgba(0, 64, 64, 0.50);
    overflow-y: auto;
}
.wrapper > .center > .left-panel > .bottom-section {
    height: 60%;
    background-color: lightblue;
    overflow-y: auto;
    background-color: rgba(0, 64, 64, 1);
    color: #fff;
}
.bottom-section a {
    color: #fff;
    text-decoration: none;
}
.wrapper > .center > .content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 64, 64, 0.25);
    position: absolute;
    padding: 20px 20px 20px 220px;
    box-sizing: border-box;
    overflow-y: auto;
}
.content h1 {
    margin-top: 0;
}
.content p {
    text-indent: 30px;
    line-height: 2em;
}
@media (max-height: 480px) {
    .wrapper > .center > .left-panel > .top-section {
        height: 100%;
    }
    .wrapper > .center > .left-panel > .bottom-section {
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        max-width: 800px;
    }
    .bottom-section ul li {
        float: left;
    }
    .wrapper {
        bottom: 50px;
    }
}