<html ng-app="FS">
<head>
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body style="padding: 20px;">
    <h1>Super Awesome File List</h1>
    <div ng-view></div>
    <script type="text/ng-template" id="list">
        <div ng-show="error" class="alert alert-danger" role="alert" ng-click="error=null">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
        </div>
        <div ng-if="node.type==='folder'" class="panel panel-default">
            <div class="panel-heading">
                Viewing: {{path || '/'}}
                <a ng-show="path" class="btn btn-default btn-xs pull-right" href="#{{path.slice(0, path.lastIndexOf('/')) || '/'}}">Back</a>
            </div>
            <table ng-show="node.children.length" class="table">
                <thead>
                    <tr>
                        <th style="width:30px"></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Children</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in node.children">
                        <th><input type="checkbox" ng-model="selected[file.name]"></th>
                        <td><a href="#{{path + '/' + file.name}}">{{file.name}}</a></td>
                        <td>{{file.type}}</td>
                        <td>{{file.children.length}}</td>
                        <td><button class="btn btn-default btn-xs pull-right" ng-click="drop(file.name)">Remove</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="node.children.length" style="padding:10px">
                This folder is empty
            </div>
        </div>
        <div ng-if="node.type==='folder'">
            <button class="btn btn-default" ng-show="node.children.length" ng-disabled="someSelected()" ng-click="dropSelected()">Drop Selected</button>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="copyToClipboard()" ng-disabled="someSelected()">Cut</button>
                <button class="btn btn-default" ng-disabled="!clipboard.data" ng-click="pasteFromClipboard()">Paste</button>
            </div>
            <button class="btn btn-default" ng-click="createFile()">Create File</button>
            <button class="btn btn-default" ng-click="createFolder()">Create Folder</button>
        </div>
        <div ng-if="node.type==='file'" class="panel panel-default">
            <div class="panel-heading">
                Viewing: {{path || '/'}}
                <a ng-show="path" class="btn btn-default btn-xs pull-right" href="#{{path.slice(0, path.lastIndexOf('/')) || '/'}}">Back</a>
            </div>
            <div style="padding:10px">
                {{node.content}}
            </div>
        </div>
    </script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/FileSystem.js"></script>
</body>
</html>